
.DS_Store
App01/android/app/_BUCK
*.gradle
*.bzl
*.keystore
*.keystore
*.pro
*.keystore
*.xml
*.java
*.png
*.properties
*.jar
App01/android/gradlew
*.bat
*.pbxproj
*.xcscheme
*.xcworkspacedata
*.h
*.m
*.json
*.storyboard
*.plist
*.lock
App01/ios/Podfile
App01/android/app/debug.keystore
App01/__tests__/App-test.js
App01/android/app/debug.keystore
App01/.buckconfig
App01/.editorconfig
App01/.eslintrc.js
App01/.flowconfig
App01/.gitattributes
App01/.prettierrc.js
App01/.watchmanconfig
App01/android/app/debug.keystore
App01/babel.config.js
App01/metro.config.js
